<!DOCTYPE html>
<html>
<head>
    <%- include ("../header.ejs") %>
    <title>Wizards List</title>
</head>
<body>
<%- include ("../navigation.ejs") %>
<div class="container bg-light opacity-75" style="margin-top: 60px">
    <h1 class="text-center">Wizards List</h1>
    <table class="table table-success table-striped-columns table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Blood status</th>
            <th scope="col">Gender</th>
            <th scope="col">Faculty</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% wizards.forEach(wizard => { %>
            <tr>
                <th scope="row"><%= wizard.id %></th>
                <td><%= wizard.firstName %></td>
                <td> <%= wizard.lastName %></td>
                <td> <%= wizard.dateOfBirth %></td>
                <td> <%= wizard.bloodStatus %></td>
                <td> <%if(wizard.gender){%>Male<%}else {%>Female<%}%></td>
                <td> <%= wizard.Faculty.name %></td>
                <td width="105">
                    <a href="/wizard/update/<%= wizard.id %>" class="btn" role="button">
                        <i class="fa-solid fa-pen"></i></a>
                    <a onclick="confirm_delete('/wizard/delete/<%= wizard.id %>',
                            '<%= wizard.firstName %> <%= wizard.lastName %>')"
                       class="btn" role="button"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="/wizard/create">Create wizard</a>
</div>
<%- include ("../scripts.ejs") %>
<script>
    function confirm_delete(link, name) {
        alertify.confirm('Confirmation', 'Delete user <b>' + name + '</b> ?',
            function () {
                window.location.href = link
            },
            function () {
            }).set({labels: {ok: 'Yes', cancel: 'No'}});
        return false;
    }
</script>
</body>
</html>