<!DOCTYPE html>
<html>
<head>
    <%- include ("../header.ejs") %>
    <title>Create Ghost</title>
</head>
<body>
<%- include ("../navigation.ejs") %>
<div class="container">
    <h1 class="text-center text-primary">Ghost Create</h1>
    <form method="post" action="/ghost/update/<%=ghost.id%>">
        <div class="mb-3">
            <label for="fullName" class="form-label">Full name:</label>
            <input type="text" id="fullName"  class="form-control" name="fullName" value="<%=ghost.fullName%>" required>
        </div>
        <div class="mb-3">
            <label for="born" class="form-label">Born:</label>
            <input type="date" id="born" class="form-control" name="born" value="<%=ghost.born%>" required>
        </div>
        <div class="mb-3">
            <label for="died" class="form-label">Died:</label>
            <input type="date" id="died" class="form-control" name="died" value="<%=ghost.died%>" required>
        </div>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="gender" id="inlineRadio1" value="1" <%if(ghost.gender===true){%>checked<%}%>>
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="gender" id="inlineRadio2" value="0" <%if(ghost.gender===false){%>checked<%}%>>
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="faculty" class="form-label">Faculty:</label>
            <select id="faculty" name="faculty" class="form-select" required>
                <option></option>
                <%faculties.forEach(faculty =>{%>
                <option value="<%=faculty.id%>" <%if(ghost.faculty===faculty.id){%>selected<%}%>><%=faculty.name%></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <%- include ("../scripts.ejs") %>
</div>
</body>
</html>
